{% load static %}
<footer class="footer footer-white">
      <div class="footer-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-30">
              <h6 class="color-white mb-20">About Shop</h6>
              <p class="color-white body-p2 desc-company">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<a href="#">Read more</a></p>
              <p class="neutral-dark body-p2 email-footer">E. hello@uxper.co</p>
              <p class="neutral-dark body-p2 phone-footer">T. (00) 342 489 33</p>
            </div>
            <div class="col-lg-8 mb-30">
              <div class="row">
                <div class="col-lg-3 mb-30">
                  <h6 class="color-white mb-20">Company</h6>
                  <ul class="menu-footer">
                    <li><a href="about-us-1.html">About us</a></li>
                    <li><a href="carrers.html">Careers</a></li>
                    <li><a href="store-location.html">Store Locator</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                  </ul>
                </div>
                <div class="col-lg-3 mb-30">
                  <h6 class="color-white mb-20">Customer Care</h6>
                  <ul class="menu-footer">
                    <li><a href="about-us-1.html">Size Guide</a></li>
                    <li><a href="custome-service.html">Help &amp; FAQs</a></li>
                    <li><a href="faq.html">Return My Order</a></li>
                    <li><a href="store-location.html">Refer a Friend</a></li>
                  </ul>
                </div>
                <div class="col-lg-3 mb-30">
                  <h6 class="color-white mb-20">Terms &amp; Policies</h6>
                  <ul class="menu-footer">
                    <li><a href="faq.html">Duties &amp; Taxes</a></li>
                    <li><a href="store-location.html">Shipping Info</a></li>
                    <li><a href="store-location.html">Privacy Policy</a></li>
                    <li><a href="store-location.html">Terms Conditions</a></li>
                  </ul>
                </div>
                <div class="col-lg-3 mb-30">
                  <h6 class="color-white mb-20">Follow Us</h6>
                  <ul class="menu-footer">
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Pinterest</a></li>
                    <li><a href="#">Tiktok</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-2">
        <div class="container">
          <div class="footer-bottom">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-12 text-center text-lg-start mb-20"><span class="body-p1 color-white">© {{ year }} Guza.Co. All rights reserved</span></div>
              <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
                <div class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
                  <div class="d-inline-block box-payments mr-20"><img src={% static "assets/imgs/template/icons/visa-grey.svg" %} alt=""><img src={% static "assets/imgs/template/icons/master-grey.svg" %} alt=""><img src={% static "assets/imgs/template/icons/stripe-grey.svg" %} alt=""><img src={% static "assets/imgs/template/icons/paypal-grey.svg" %} alt=""></div>
                  <div class="dropdown mr-20">
                    <button class="btn btn-line-bottom dropdown-toggle" id="dropdownLang" type="button" data-bs-toggle="dropdown" aria-expanded="false">EN</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                      <li><a class="dropdown-item" href="#">EN</a></li>
                      <li><a class="dropdown-item" href="#">JP</a></li>
                      <li><a class="dropdown-item" href="#">KR</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-line-bottom dropdown-toggle" id="dropdownCurrency" type="button" data-bs-toggle="dropdown" aria-expanded="false">USD</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
                      <li><a class="dropdown-item" href="#">USD</a></li>
                      <li><a class="dropdown-item" href="#">EURO</a></li>
                      <li><a class="dropdown-item" href="#">AUD</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>