.icon-box-type1 {
    background-color: $color-shape-background;
    padding: 24px 0px 4px 0px;
}
.box-icon-type-1 {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    .item-image {
        margin-right: 20px;
        img {
            max-height: 36px;
        }
    }
}
.block-trending {
    padding: 60px 0px 0px 0px;
}
.block-instagram-type-3 {
    position: relative;
    .box-gallery-instagram .gallery-item {
        padding-right: 0px;
    }
}
.nav-tabs-style-2 {
    .nav-link {
        color: $color-neutral-medium-dark;
        &.active, &:hover {
            color: $color-2;
            border-bottom: 2px solid $color-2;
        }
    }
}