.box-banner-info-home10 {
    padding: 0px 0px 0px 70px;
}
.block-cat-homepage10 {
    padding: 80px 0px 0px 0px;
}
.box-button-leftright {
    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 50%;
        margin-top: -55px;
    }
    .swiper-button-prev {
        left: -60px;
        right: auto;
        background-color: $color-shape-background;
    }
    .swiper-button-next {
        left: auto;
        right: -60px;
        background-color: $color-shape-background;
    }
}
.block-collection-homepage10 {
    background-color: $background-bg-12;
    padding: 80px 0px 70px 0px;
}
.block-new-product {
    padding: 80px 0px 50px 0px;
}
.box-slide-collection {
    max-width: 370px;
    margin: auto;
    position: relative;
    margin-left: 100px;
}
.nav-tabs-small {
    .nav-link {
        color: $color-neutral-medium-dark;
        &.active, &:hover {
            border-bottom-color: $color-2;
        }
    }
}