.box-bestseller-home7 {
    padding: 80px 0px 0px 0px;
}
.box-category-home7 {
    padding: 80px 0px;
    .row {
        margin-left: -5px;
        margin-right: -5px;
        .col-lg-6 {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
.block-instagram-type4-home7 {
    padding: 80px 0px 0px 0px;
}