.block-what-trending {
    padding: 80px 0px 20px 0px;
}
.box-tabs-center {
    .nav-tabs-medium {
        justify-content: center;
    }
}
.block-feature-collection {
    padding: 80px 0px 50px 0px;
}