.box-commingsoon .maintenance-right {
    background-image: url(../imgs/page/maintenance/banner.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}