.form-notify {
    form {
        display: flex;
    }
    .btn.btn-black {
        min-width: 133px;
        padding: 11px 12px;
        margin-left: 6px;
    }
}
.block-out-of-stock {
    h6.tone-red {
        margin-bottom: 12px;
    }
}