.block-buy-on-amazone {
    margin-bottom: 32px;
    margin-top: 32px;
    .btn-black {
        min-width: 300px;
    }
}
.block-socials-product-big {
    .social-neutral-dark {
        margin-right: 10px;
        svg {
            height: 28px;
        }
    }
}