.block-product-single-9 {
    background-color: $color-shape-background;
    padding-bottom: 80px;
    padding-top: 120px;
}
.block-product-single-detail {
    .box-detail-product {
        border-top: 0px;
        margin-top: 0px;
    }
}
.box-product-info {
    .breadcrumbs {
        margin-bottom: 16px;
        margin-top: 0px;
    }
} 