.box-shop-category-top {
    padding-bottom: 70px;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    .box-pagination-leftright .swiper-button-prev, .box-pagination-leftright .swiper-button-next {
        top: 42%;
    }
    .box-pagination-leftright .swiper-button-prev {
        left: -60px;
    }
    .box-pagination-leftright .swiper-button-next {
        right: -60px;
    }
    .box-pagination-leftright .swiper-pagination {
        bottom: -40px !important;
    }
}